@import "../css/fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white-color: #ffffff;
    --main-gradient: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
    --main-shadow: 0px 4px 16px rgba(138, 97, 255, 0.6);
    --main-radius: 8px;
    --blue-color: #4870FF;
    --dark-blue: #01011F;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: 'ProximaNova', sans-serif;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    color: var(--white-color);
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
    background-color: var(--dark-blue);
    position: relative;
}
.loader {
    position: fixed;
    inset: 0;
    z-index: 100;
    background: url("../images/loader.gif") center no-repeat;
    background-size: cover;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--dark-blue);
}
::-webkit-scrollbar-thumb {
    height: 40px;
    background-color: var(--blue-color);
    border-radius: var(--main-radius);
}
html, body {
    scrollbar-gutter: stable;
    scrollbar-color: var(--dark-blue)
}
.body_hidden {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p, button, input, select, textarea {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
}
main {
    flex: 1;
}
button, input, select, textarea {
    border: none;
    outline: none;
    background: transparent;
}
button[type="submit"] {
    cursor: pointer;
}
input, textarea {
    background-color: var(--white-color);
    padding: 12px 14px;
    border-radius: var(--main-radius);
    line-height: 19.49px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
}
input::placeholder, textarea::placeholder {
    line-height: 19.49px;
    color: rgba(5,13,42,.6);
    letter-spacing: 0.2px;
    text-overflow: ellipsis;
    overflow: hidden;
}
input[type="text"] {
    width: 100%;
    max-width: 100%;
}
textarea {
    resize: none;
    width: 100%;
    max-width: 100%;
}
label {
    display: flex;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
.container {
    max-width: 1070px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}


.link_active {
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.link_active:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 4px;
    background: var(--main-gradient);
    border-radius: 4px 4px 0 0;
    box-shadow: var(--main-shadow);
}

.btns-container {
    display: flex;
}
.btns-container .btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.92px;
    padding: 9px 32px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-btn {
    background: var(--main-gradient);
    box-shadow: var(--main-shadow);
    border-radius: var(--main-radius);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 21.92px;
    text-align: center;
    padding: 9px 32px;
    letter-spacing: 0;
}
.second-btn {
    border: 2px solid var(--white-color);
    border-radius: var(--main-radius);
    filter: drop-shadow(0px 4px 16px rgba(138, 97, 255, 0.6));
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    .main-btn,.btns-container .btn {
        font-size: 16px;
        line-height: 140%;
        padding: 6px 26px;
    }
}

